---
siteTitle: John M. Wargo for President
---

<!DOCTYPE HTML>
<!--
Altitude by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}: {{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="manifest" href="/manifest.json">
    {% include "google-analytics.html" %}
  </head>
  <body class="is-preload">
    <div id="page-wrapper">

      <div class="wrapper">
        <div class="inner">
          {% include "header.html" %}
          {% include "nav.html" %}
        </div>
      </div>

      <div class="wrapper">
        <div class="inner">
          <section class="main">
            {% if headerImage %}
              <span class="image fit"><img src="{{ headerImage }}" alt="{{headerDescription}}" /></span>
            {% endif %}
            <header class="major">
              <h1>{{ title }}</h1>
            </header>
            {{ content }}
          </section>
        </div>
      </div>

      <div class="wrapper">
        <div class="inner">
          <footer id="footer">
            {% include "copyright.html" %}
          </footer>
        </div>
      </div>
    </div>
    {% include "page-scripts.html" %}

  </body>
</html>